* {
margin: 0;
padding: 0;
}

.bracket {
  display: inline-block;
  width: 50px;
  margin: 10px;
  margin-top: 100px;
  transform: translateY(-50%);
}

.bracket img {
  width:100%;
  /* margin-bottom: 15px; */
  vertical-align: middle;
}

.bracket:hover {
  cursor: pointer;
  /* cursor:  */
}

.list-item {
  display: inline-block;
  width: 200px;
  margin: 10px;
  vertical-align: top;
}

.list-item img {
  width:100%;
  border-radius: 100%;
  margin-bottom: 15px;
}

.container {
  text-align: center;
  margin-bottom: 30px;
}

.sub-title {
  margin-top:50px;
  text-align: center;
  color: #aaa;
}

.title {
  text-align: center;
  font-size: 30px;
}

.list-item-title {
  font-weight: bold;
  white-space: nowrap;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  margin-bottom: 5px;
}

.list-item-subtitle {
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #777;
}

.price-holder {
  margin-top: 20px;
}

.actual-price {
  color: #18c2bd;

  font-weight: bold;
  line-height: 24px;

}

.actual-price-number {
  display: inline-block;
  font-size: 24px;
  /* vertical-align: baseline; */
}

.actual-price-scale {
  /* display: inline-block; */
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  /* vertical-align: middle; */
}

.hidden-price {
  text-decoration: line-through;
  font-weight: lighter;
  color: #999;
  font-size: 12px;

}

.launch-price {
  font-size: 9px;
  background-color: #c7a8a4;
  color: #fff;
  display: inline-block;
  padding:4px 5px 2px 5px;

}

.footer {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
}
