body {
    text-align: center;
}

.category {
    font-family: "Noto Sans KR", sans-serif;
    color: #999;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 5px;
}

.title-container p {
    font-size: 34px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.imagebox-and-button-wrapper {
    width: 1150px;
    height: 400px;
    margin: auto;

}

.button{
    position: relative;
    width: 50px;
    top: -15px;
    font-size: 100px;
    color: #999;
}
#left-button {
    float: left;
}
#right-button {
    float: left;
}

.image-box-wrapper {
    width: 1050px;
    height: 400px;
    float: left;
}

ul{
    list-style:none;
}

.image-box {
    float: left;
    width: 215px;
    margin: 15px;

}

.image-thumb img {
    border-radius: 50%;
    width: 215px;
    margin-bottom: 10px;
}

.food-title {
    font-family: "Noto Sans KR Bold", sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.07em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.food-description {
    font-size: 13px;
    height: 15px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.food-rating-box {
    font-size: 14px;
    color: #999;
    height: 15px;
}

.food-price {
    font-size: 26px;
    color: #2ac1bc;
    font-weight: bold;
    letter-spacing: -0.04em;
}